{% extends "auth/baseLogInRegister.html" %}

{% block head %}
    {{ super() }}
    <h1>{% block title %}Log In | FinanceBuddy{% endblock title %}</h1>
{% endblock head %}

{% block content %}

<form method="POST" class="log-in-register-inputs">
    <div class="input-group input-group-lg">
        {{ form.csrf_token }}
        {{ form.username(class="form-control", placeholder="Username")}}
        {{ form.password(class="form-control", placeholder="Password")}}
    </div>
    {{ form.submit(class="log-in-button")}}
<form/>
<hr class="log-in-register-line">
<button type="button" class="new-acc-button">Create new account</button>

{% endblock %}