{% extends "dashboard/baseDashboard.html" %}

{% block head %}
    {{ super() }}
    <h1>{% block title %}Dashboard | FinanceBuddy{% endblock title %}</h1>
{% endblock head %}

{% block active_screen %}
<h1>Dashboard</h1>
{% endblock %}

{% block content %}
<div class="finance-data-container">
    <div class="amount-data-container">
        <div class="finance-data-display">
            <p class="finance-data-title">Available Balance</p>
            <p class="finance-data-amount">{{ user_data["total_balance"] }} €</p>
        </div>
        <button id="testbutton" type="button" class="finance-data-button" data-bs-toggle="modal" data-bs-target="#balanceModal">
            Change Balance
        </button>
        <div class="modal fade" id="balanceModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Change Balance</h5>
                </div>
                <form method="POST" class="balance-input">
                    <div class="modal-body">
                        <div class="modal-body-content">
                                <div class="input-group input-group-lg">
                                    {{ balanceForm.csrf_token }}
                                    {{ balanceForm.balance.label }}
                                    {{ balanceForm.balance(class="form-control", placeholder="Enter new balance")}}
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ balanceForm.submit(class="btn btn-primary")}}
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="amount-data-container">
        <div class="finance-data-display">
            <p class="finance-data-title">Income</p>
            <p class="finance-data-amount">{{ user_data["total_income"] }} €</p>
        </div>
        <button type="button" class="finance-data-button" data-bs-toggle="modal" data-bs-target="#incomeModal">
            Add Income
        </button>
        <div class="modal fade" id="incomeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Add Income</h5>
                    </div>
                    <form method="POST" class="balance-input">
                        <div class="modal-body">
                            <div class="modal-body-content">
                                    <div class="input-group input-group-lg">
                                        {{ incomeForm.csrf_token }}
                                        {{ incomeForm.income.label }}
                                        {{ incomeForm.income(class="form-control", placeholder="Enter income amount")}}
                                        {{ incomeForm.income_category.label }}
                                        {{ incomeForm.income_category(class="form-control", placeholder="Select category")}}
                                        {{ incomeForm.custom_category(class="form-control", placeholder="Enter name for custom category")}} 
                                        {{ incomeForm.description.label }}                                       
                                        {{ incomeForm.description(class="form-control", placeholder="Add a description")}}
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ incomeForm.submit(class="btn btn-primary")}}
                        </div>
                    </form>
                </div>
                </div>
        </div>
    </div>   
    <div class="amount-data-container">
        <div class="finance-data-display">
            <p class="finance-data-title">Expenses</p>
            <p class="finance-data-amount">{{ user_data["total_expense"] }} €</p>
        </div>
        <button type="button" class="finance-data-button" data-bs-toggle="modal" data-bs-target="#expenseModal">
            Add Expense
        </button>
        <div class="modal fade" id="expenseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Add Expense</h5>
                    </div>
                    <form method="POST" class="balance-input">
                        <div class="modal-body">
                            <div class="modal-body-content">
                                    <div class="input-group input-group-lg">
                                        {{ expenseForm.csrf_token }}
                                        {{ expenseForm.expense.label }}
                                        {{ expenseForm.expense(class="form-control", placeholder="Enter expense amount")}}
                                        {{ expenseForm.expense_category.label }}
                                        {{ expenseForm.expense_category(class="form-control", placeholder="Select category")}}
                                        {{ expenseForm.custom_category2(class="form-control", placeholder="Enter name for custom category")}} 
                                        {{ expenseForm.description.label }}                                       
                                        {{ expenseForm.description(class="form-control", placeholder="Add a description")}}
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ expenseForm.submit(class="btn btn-primary")}}
                        </div>
                    </form>
                </div>
                </div>
        </div>
    </div>
</div>
<div class="finance-widgets-container">
    <div class="widget-container">
        <div class="balance-history-widget">
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" name="timeframe_selector" id="week_1" autocomplete="off" onclick="updateCharts()">
                <label class="btn btn-outline-primary" for="week_1">1 Week</label>
              
                <input type="radio" class="btn-check" name="timeframe_selector" id="month_1" autocomplete="off" onclick="updateCharts()" checked>
                <label class="btn btn-outline-primary" for="month_1">1 Month</label>
              
                <input type="radio" class="btn-check" name="timeframe_selector" id="month_3" autocomplete="off" onclick="updateCharts()">
                <label class="btn btn-outline-primary" for="month_3">3 Months</label>

                <input type="radio" class="btn-check" name="timeframe_selector" id="year_1" autocomplete="off" onclick="updateCharts()">
                <label class="btn btn-outline-primary" for="year_1">1 Year</label>
            </div>
            <div>
                <h4>Balance</h4>
                <div id="balance_history_graph" class="balance-history-graph"></div>
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="type_selector" id="income_radio" autocomplete="off" onclick="updateCharts()" checked>
                    <label class="btn btn-outline-primary" for="income_radio">Income</label>
                  
                    <input type="radio" class="btn-check" name="type_selector" id="expense_radio" autocomplete="off" onclick="updateCharts()">
                    <label class="btn btn-outline-primary" for="expense_radio">Expense</label>
                </div>
                <div id="income_expense_history_graph" class="balance-history-graph"></div>
            </div>
        </div>
        
    </div>
    <div class="widget-container">
        <div class="finance-history-widget" id="history_widget">
            <h3>History</h3>
            <ol id=history_list class="list-group overflow-auto h-100" style="max-height: 55vh;">
            </ol>
        </div>
    </div>
</div>
{% endblock %}