{% extends "dashboard/baseDashboard.html" %}

{% block head %}
    {{ super() }}
    {% block title %}Statistics | FinanceBuddy{% endblock title %}
{% endblock head %}

{% block active_screen %}
<h1>Statistics</h1>
{% endblock %}

{% block content %}
<div class="stats-container">
    <div class="finance-history-widget" id="history_widget" style="height: 100%;">
        <h3>History</h3>
        <input type="text" class="form-control" name="daterange" value="Select time range" style="margin-bottom: 1vh;" readonly/>
        <ol id=history_list_stats class="list-group overflow-auto h-100" style="max-height: 100%;"></ol>
    </div>
    <div id="income_pie_graph" class="balance-history-graph"></div>
    <div id="expense_pie_graph" class="balance-history-graph"></div>
</div>
{% endblock %}