.log-in-register-section{
    background: linear-gradient(45deg, lightgray, white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-container{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    aspect-ratio: 1;
    border-radius: 30px;
    row-gap: 2.5vh;
}
.register-container{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    aspect-ratio: 0.9;
    border-radius: 30px;
    row-gap: 2.5vh;
}
.log-in-register-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.logo-img{
    width: 50vh;
    max-width: 80%;
    max-height: 100%;
    aspect-ratio: auto;
}
.log-in-register-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 75%;
    height: auto;
    row-gap: 2.5vh;
    margin: 1vh;
}
.log-in-button{
    width: 75%;
    height: auto;
    aspect-ratio: 8;
    color: black;
    background-color: #B8E5FF;
    transition: 0.25s;
    border-radius: 15px;
    border-width: 0.1rem;
    font-size: 2.5vh;
    margin: 1vh;
}
.log-in-button:hover{
    background-color: #8cd5ff;
    transition:0.25s;
}
.new-acc-button{
    width: 75%;
    height: auto;
    aspect-ratio: 8;
    color: black;
    background-color: #E2E2E2;
    transition: 0.25s;
    border-radius: 15px;
    border-width: 0.11rem;
    font-size: 2vh;
    margin: 1vh;
}
.new-acc-button:hover{
    background-color: #bfbfbf;
    transition:0.25s;
}   
.log-in-register-line{
    width: 75%;
    margin: 0;
}
.form-control{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 2.5vh !important;
    width: 100% !important;
    margin-top: 1vh !important;
    border-radius: 20px !important;
}
.input-group{
    display: flex !important;
    flex-direction: column !important;
}
.dashboard-section{
    background-color: #E2E2E2;
    height: 100%;
    display: flex;
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfbfbf;
    height: 100vh;
    width: 20vw;
}
.sidebar-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.sidebar-logo{
    width: 50vh;
    max-width: 80%;
    max-height: 100%;
    aspect-ratio: auto;
}
.sidebar-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 1vh;
    width: 100%;
    height: auto;
}
.sidebar-button{
    display: flex;
    align-items: center;
    column-gap: 0.6vw;
    color: black;
    background-color: white;
    transition: 0.25s;
    border-radius: 5px;
    border-width: 0.1rem;
    font-size: min(2.5vh, 2.5vw);
    margin: 1vh;
    padding: 1vh;
    padding-left: 1.15vw;
    width: 80%;
    height: 35%;
}
.sidebar-button:hover{
    background-color: #B8E5FF;
    transition: 0.25s;
}
.sidebar-button:active{
    background-color: #76ccfd;
    transition: 0.1s;
}
#log-out-dropdown:active{
    background-color: red;
}
#dropdown-button{
    background-color: #E2E2E2;
    color: black;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    margin: 2vh;
    margin-bottom: 8vh;
    margin-left: 2vw;
    margin-right: 5vw;
    width: 75vw;
    height: 90vh;
}
.dashboard-top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#screen-name{
    flex-grow: 1;
    margin-left: auto;
}
.finance-data-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.amount-data-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.finance-data-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2vh;
    width: 100%;
    padding: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border: black solid 1px;
}
.finance-data-button{
    background-color: white;
    border-radius: 2vh;
    margin-top: 1vh;
    width: 65%;
    height: 5vh;
    font-size: 2vh;
    border: black solid 1px;
    transition: 0.25s;
}
.finance-data-button:hover{
    background-color: #B8E5FF;
    transition: 0.25s;

}
.finance-data-button:active{
    background-color: #76ccfd;
    transition: 0.25s;
}
.finance-data-title{
    font-size: 2.5vh;
    margin: auto;
}
.finance-data-amount{
    font-size: 4vh;
    margin: auto;
}
.finance-widgets-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
    width: 100%;
    height: 100%;
    max-height: 70vh;
}
.widget-container{
    width: 50%;
    height: 100%;
}
.balance-history-widget{
    width: 100%;
    height: 100%;
    margin: 1vh;
    margin-right: 1vw;
    background-color: white;
    border-radius: 2vh;
    padding: 4%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.balance-history-range-selector-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 1vw;
    margin-bottom: 1vh;
}
.range-selector-button{
    flex: 1;
    background-color: white;
    border-radius: 2vh;
    font-size: 2vh;
    border: black solid 1px;
    transition: 0.25s;
}
.range-selector-button:hover{
    background-color: #B8E5FF;
    transition: 0.25s;
}
.range-selector-button:active{
    background-color: #76ccfd;
    transition: 0.25s;
}
.balance-history-graph{
    width: 100%;
    height: 100%;
}
.finance-history-widget{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 1vh;
    margin-right: 1vw;
    background-color: white;
    border-radius: 2vh;
    padding: 1%;
}
.finance-planner-widget{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 2vh;
    
}
.history-widget-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    border-radius: 2vh;
    margin: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #E2E2E2;
    font-size: 2vh;
}
#history-category{
    flex-grow: 1;
}
.stats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    row-gap: 2vh;
}
.stats-row{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
    background-color: white;    
    width: 100%;
    height: 50%;
}
.stats-graph{
    width: 100%;
    height: 100%;
    margin: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}